<%= render 'pannel/nav'%>
<div class="main">
  <div class="header",style="margin-top:0px">
    <div class="col-md-4 col-md-offset-4" style="font-size:30px;color:pink;padding-top:23px">
      Home Page
     <%= session[:workspace_name] %>
    </div>
    <div class="col-md-2", style="float:right;padding-top:25px">
        <%= link_to "@",mention_path,class: "", style:"color:pink" %>
        <%= link_to "",starmessage_path,class: "fa fa-star-o" , style:"color:pink" %>      
    </div>    
  </div> 
  <div style="position:center,overflow:auto;">
   <h1>Slack Messaging App</h1>
   <div style="margin-top:12px;position:center">
    
    <a href="https://www.animatedimages.org/cat-welcome-707.htm">
      <img src="https://www.animatedimages.org/data/media/707/animated-welcome-image-0004.gif" border="0" alt="animated-welcome-image-0004"  />
    </a>
    </div>
  </div>
  <script>
  
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;  
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>
</div>
