<div class="container wframe">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <%= link_to "WorkSpace Create", wscreate_path, class: "btn btn-lg btn-primary btnW" %>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <%= link_to "Search Your WorkSpace", search_path, class: "btn btn-lg btn-primary btnW" %>
        </div>
    </div> 
</div>

