@import "bootstrap-sprockets";
@import "bootstrap";

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 10rem;
}
h2{
    text-align: center;
    font-size: 40px;
    margin-top: 10rem;
}

input{
    margin-bottom: 30px;
}

.wframe{
    margin-top: 15em;
    background-color: lightgray;
    .btnW{
        margin-top: 40px;
        width: 100%;
        border-radius: 10px;
    }
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    
  }
  
  input {
    height: auto !important;
  }

/* sidebar */

.row 
{
    background-color: none;
}

body {
    font-family: "Lato", sans-serif;
    
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 17%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    padding-top: 0px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: violet;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
 
  }
 
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: whitesmoke;
  }
  /* Style unread button */
  .name
  {
    font-size: 16px;
    color: white; 
  }
  .unread
  {
    background-color: #3498db;
  }
  /* Main content */
  .main {
    margin-left: 11.9%; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 0px;

  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #0d0d0d;
    color: pink;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #0d0d0d;
    padding-left: 8px;
  }


  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  .fa-plus{
    float: right;
    padding-right: 8px;
  }

  .pmess{
    float: right;
    font-size: 16px;
    color: black;
    padding-right: 150px;
  }
  .dropdown-container2, .btnU
  {
    background-color: white;
    width: 120%;
    height: 60px;
  
  }
  
  .mainform{
    background-color: lightgray;
    width: 100%;
    height: 90px;
    width:130%;
    padding-left: 0px;
  }
.user{
    font-size:20px;
    color:black;
}
.message{
font-size:18px;
color:gray;


}
  .button
  {
    width:25%;
    height: 60px;
    font-size: 20px;
    margin-left: 38%;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #3498db;
  }
  /* header style */
  .header{
    padding-left: 0px;
    background-color: gray;
    overflow: hidden;
    
    text-align: left;
    text-decoration: none;
    width: 115%;
    height: 80px;

  }
  .content{
    padding-left: 10px;
    width:100%;
    top: 100px;
    bottom:10%;
    position:absolute;
    overflow:auto;
}
  .footer{
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:10%;
    background-color: gray;
    color:pink;
    text-align:center;
    padding-left: 150px;
  
  }
  ul{
      font-size: 20px;
      color: white;
  }
  .text{
      font-size: 20px;
      color: pink;
  
  }
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* for user remove */
.user_remove_container
{
  
  
  height:100px;
  margin-left: 30%;
  margin-top: 150px;
}
.member_edit{
  margin-left: 2%;
  margin-top: 40px;
}
.add_title{
  text-align:center;
  font-weight:20px;
  padding-top:60px;
  font-size:30px;
  font-family: "Lato", sans-serif;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
/* add member */
.addmember{
  margin-left: 30%;
  margin-top: 100px;
  font-size:25px;
  font-family: "Lato", sans-serif;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.error, .success {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



.pagination > li > a
{
    background-color: white;
    color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: purple;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: purple;
    border: solid 1px purple;
}

.pagination > .active > a:hover
{
    background-color: purple;
    border: solid 1px purple;
}
